#pragma code_page(65001)
#include <Windows.h>

1 RT_MANIFEST "Scmpoo.manifest"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

100 ICON MOVEABLE PURE "100.ico"

101 BITMAP MOVEABLE PURE "101.bmp"
102 BITMAP MOVEABLE PURE "102.bmp"
103 BITMAP MOVEABLE PURE "103.bmp"
104 BITMAP MOVEABLE PURE "104.bmp"
105 BITMAP MOVEABLE PURE "105.bmp"
106 BITMAP MOVEABLE PURE "106.bmp"
107 BITMAP MOVEABLE PURE "107.bmp"
108 BITMAP MOVEABLE PURE "108.bmp"
109 BITMAP MOVEABLE PURE "109.bmp"
110 BITMAP MOVEABLE PURE "110.bmp"
111 BITMAP MOVEABLE PURE "111.bmp"

106 CURSOR MOVEABLE PURE "106.cur"

107 DIALOGEX 0, 0, 370, 292
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Mate 小羊 2.0 设置"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x86
BEGIN
    GROUPBOX "原版兼容选项", -1, 8, 8, 258, 79
    CONTROL "播放小羊叫声和原版音效", 1002, "BUTTON", WS_TABSTOP | BS_AUTOCHECKBOX, 18, 24, 116, 12
    CONTROL "启用整点报时", 1001, "BUTTON", WS_TABSTOP | BS_AUTOCHECKBOX, 142, 24, 88, 12
    CONTROL "一直活动，不自动睡眠", 1003, "BUTTON", WS_TABSTOP | BS_AUTOCHECKBOX, 18, 44, 116, 12
    CONTROL "始终启用重力和窗口落脚", 1004, "BUTTON", WS_TABSTOP | BS_AUTOCHECKBOX, 142, 44, 116, 12
    LTEXT "保持原版随机概率、窗口碰撞、边缘探望、悬挂、掉落和特殊事件逻辑。", -1, 18, 64, 232, 12

    GROUPBOX "现代 Windows 扩展", -1, 8, 92, 258, 124
    LTEXT "你的称呼：", -1, 18, 110, 52, 12
    EDITTEXT 1007, 72, 107, 178, 15, ES_AUTOHSCROLL
    LTEXT "动画速度：", -1, 18, 132, 52, 12
    EDITTEXT 1008, 72, 129, 40, 15, ES_NUMBER | ES_RIGHT
    LTEXT "%（50–200）", -1, 116, 132, 72, 12
    LTEXT "休息提醒：", -1, 18, 154, 52, 12
    EDITTEXT 1009, 72, 151, 40, 15, ES_NUMBER | ES_RIGHT
    LTEXT "分钟（5–240）", -1, 116, 154, 78, 12
    LTEXT "特殊动画：", -1, 18, 176, 52, 12
    EDITTEXT 1011, 72, 173, 40, 15, ES_NUMBER | ES_RIGHT
    LTEXT "%（0–500）", -1, 116, 176, 72, 12
    CONTROL "始终显示在其他窗口上方", 1005, "BUTTON", WS_TABSTOP | BS_AUTOCHECKBOX, 18, 198, 118, 12
    CONTROL "显示 Unicode 对话和提醒气泡", 1006, "BUTTON", WS_TABSTOP | BS_AUTOCHECKBOX, 142, 198, 118, 12

    GROUPBOX "立即播放原版动作", -1, 8, 222, 354, 38
    PUSHBUTTON "吃花", 1101, 17, 237, 58, 15
    PUSHBUTTON "燃烧浴盆", 1102, 84, 237, 58, 15
    PUSHBUTTON "黑羊", 1103, 151, 237, 58, 15
    PUSHBUTTON "UFO", 1104, 218, 237, 58, 15
    PUSHBUTTON "落下", 1105, 285, 237, 58, 15

    DEFPUSHBUTTON "确定", IDOK, 280, 12, 78, 18
    PUSHBUTTON "取消", IDCANCEL, 280, 36, 78, 18
    PUSHBUTTON "恢复默认", 1010, 280, 60, 78, 18
    PUSHBUTTON "帮助", IDRETRY, 280, 84, 78, 18
    PUSHBUTTON "结束小羊", IDABORT, 280, 108, 78, 18
    PUSHBUTTON "关闭所有小羊", 1110, 280, 132, 78, 18
    PUSHBUTTON "一键开启 32 只", 1111, 280, 156, 78, 18
    CTEXT "当前运行：1 / 32 只", 1012, 274, 184, 90, 16, SS_CENTER
    PUSHBUTTON "立即应用到所有小羊", 1013, 272, 202, 92, 18
    LTEXT "设置以 Unicode 保存到当前用户目录，不再写入 Windows 目录，也不需要管理员权限。", -1, 12, 267, 346, 18
END

108 DIALOG MOVEABLE PURE 0, 0, 178, 133
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Mate 小羊调试窗口"
FONT 9, "Microsoft YaHei UI"
BEGIN
    CONTROL "OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 129, 112, 42, 14
    CONTROL "普通", 1002, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 7, 37, 10
    CONTROL "跑步", 1003, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 19, 37, 10
    CONTROL "走路", 1004, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 31, 37, 10
    CONTROL "倒立", 1005, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 43, 37, 10
    CONTROL "作揖", 1006, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 55, 37, 10
    CONTROL "睡觉", 1007, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 67, 37, 10
    CONTROL "眨眼", 1008, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 79, 37, 10
    CONTROL "转身", 1009, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 91, 37, 10
    CONTROL "碰撞", 1010, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 103, 37, 10
    CONTROL "撒尿", 1011, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 116, 37, 10
    CONTROL "打哈欠", 1012, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 7, 37, 10
    CONTROL "咩叫", 1013, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 19, 37, 10
    CONTROL "惊讶", 1014, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 31, 37, 10
    CONTROL "害怕", 1015, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 43, 37, 10
    CONTROL "吃花", 1016, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 55, 37, 10
    CONTROL "坐下", 1017, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 67, 37, 10
    CONTROL "打喷嚏", 1018, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 79, 37, 10
    CONTROL "燃烧", 1019, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 91, 37, 10
    CONTROL "黑羊１", 1020, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 103, 37, 10
    CONTROL "黑羊２", 1021, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 116, 37, 10
    CONTROL "黑羊３", 1022, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 7, 37, 10
    CONTROL "UFO１", 1023, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 19, 37, 10
    CONTROL "UFO２", 1024, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 31, 37, 10
    CONTROL "UFO３", 1025, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 43, 37, 10
    CONTROL "翻滚", 1026, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 55, 37, 10
    CONTROL "脸红", 1027, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 67, 37, 10
    CONTROL "拖行", 1028, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 79, 37, 10
    CONTROL "落下", 1029, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 91, 37, 10
    CONTROL "跳跃", 1030, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 103, 37, 10
    CONTROL "旋转", 1031, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 116, 37, 10
    CONTROL "上", 1032, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 141, 7, 15, 14
    CONTROL "下", 1033, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 141, 41, 15, 14
    CONTROL "左", 1034, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 127, 24, 15, 14
    CONTROL "右", 1035, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 156, 24, 15, 14
END

108 WAVE MOVEABLE PURE "108.wav"
109 WAVE MOVEABLE PURE "109.wav"
110 WAVE MOVEABLE PURE "110.wav"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 2, 0, 0, 0
PRODUCTVERSION 2, 0, 0, 0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x1L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "CVTS\0"
            VALUE "FileDescription", "Screen Mate Poo\0"
            VALUE "FileVersion", "2.0.0.0\0"
            VALUE "InternalName", "Screen Mate Poo\0"
            VALUE "LegalCopyright", "Modern Windows version Copyright (C) 2026 CVTS\0"
            VALUE "OriginalFilename", "Scmpoo.exe\0"
            VALUE "ProductName", "Screen Mate Poo\0"
            VALUE "ProductVersion", "2.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
